<library path="src">
  <class name="HazardStatusMonitor" type="hazard_status_monitor.hazard_status_monitor.HazardStatusMonitor" base_class_type="rqt_gui_py::Plugin">
    <description>
      A Python GUI plugin for displaying diagnostics topics.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Hazard Status Monitor</label>
      <icon type="theme">appointment-soon</icon>
      <statustip>A Python GUI plugin for displaying diagnostic information.</statustip>
    </qtgui>
  </class>
</library>
